<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icons/day1Icon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>day2Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day2Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day3Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day3Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day4Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day4Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day5Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day5Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day6Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day6Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day7Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day7Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day8Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day8Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day9Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day9Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day10Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day20Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day11Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day11Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day12Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day12con</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day13Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day13Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day14Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day14Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day15Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day15Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day16Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day16Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day17Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day17Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day18Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day18Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day19Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day19Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day20Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day20Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day21Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day21Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day22Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day22Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day23Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day23Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day24Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day24Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day25Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day25Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day26Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day26Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day27Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day27Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day28Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day28Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day29Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day29Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day30Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day30Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>day31Icon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icons/day31Icon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>UINewsstandIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string></string>
			</array>
			<key>UINewsstandBindingType</key>
			<string>UINewsstandBindingTypeMagazine</string>
			<key>UINewsstandBindingEdge</key>
			<string>UINewsstandBindingEdgeLeft</string>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>allow to choose background photo</string>
</dict>
</plist>
